.selected-columns
  width: 100%
  margin-bottom: 6px
  .content
    border-top: 1px solid #ccc
    .item
      margin-bottom: 6px
      height: 164px
      display: flex
      border-bottom: 1px solid #ccc
      .right
        width: 270px
        height: 100%
        .pic
          width: 100%
          height: 100%
          background: #ccc
      .left
        flex: 1
        margin: 0 24px
        .title
          height: 96px
          position: relative
          .tip
            position: absolute
            top: 8px
            font-size: 12px
            width: 50px
            height: 32px
            line-height: 32px
            text-align: center
            color: $color-theme-primary
            border: 2px solid $color-theme-primary
          .text
            text-indent: 60px
            line-height: 40px
            font-size: 30px
        .read
          height: 68px
          line-height: 68px
          font-size: 24px
          color: #ccc
