.bottom-panel
  display: flex
  justify-content: space-around
  align-items: center
  height: 112px
  line-height: 112px
  font-size: 24px
  color: #fff
  background-color: rgba(0, 0, 0, 0.9)
  .bottom-item
    width: 118px
    height: 80px
