@import "~assets/stylus/variable.styl"

.play-all
  display: flex
  height: 110px
  align-items: center
  .material-icons
    width: 94px
    text-align: center
    color: $color-icon
  p
    text-indent: 20px  
