@import "~assets/stylus/variable.styl"

.user-homepage-music
  position: relative
  .panel
    background-color: $color-background
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    height: 50px
    color: $color-text
    font-size: $font-size-large-xxxl
    p
      padding: 0 10px
