.personal-fm
  display: flex
  flex-direction: column
  align-items: center
  color: $color-background-d
  .pic
    width: 586px
    height: 586px
    margin-top: 180px
    background: #cccccc
    border-radius: 10px
  .song
    margin-top: 60px
    font-size: 40px
    line-height: 60px
    height: 60px
  .singer
    color: #cccccc
    .name
      display: inline-block
      vertical-align: middle
      font-size: 26px
      height: 34px
      line-height: 34px
    i
      vertical-align: middle
      font-size: 32px
      margin-left: -12px
  .handlers
    width: 684px
    display: flex
    position: absolute
    bottom: 36px
    justify-content: space-between
    align-items: center
    .info
      font-size: 60px
    .skip
      font-size: 80px
    .play
      font-size: 108px
