.pay
  .content
    .item
      height: 246px
      width: 100%
      border-bottom: 1px solid #ccc
      margin-bottom: 12px
      display: flex
      .pic
        width: 246px
        height: 246px
        background: #ccc
        flex-shrink: 0
        position: relative
        .desc
          width: 246px
          height: 46px
          line-height: 46px
          position: absolute
          bottom: 0
          font-size: 26px
          color: $color-background-d
          padding: 0 10px
          overflow: hidden
          white-space: nowrap
          text-overflow: ellipsis
      .info
        margin-left: 26px
        margin-right: 36px
        display: flex
        flex-direction: column
        width: 100%
        .title
          font-size: 30px
          line-height: 80px
          height: 80px
        .sub-title, .play
          width: 442px
          font-size: 26px
          line-height: 40px
          height: 40px
          overflow: hidden
          white-space: nowrap
          text-overflow: ellipsis
          color: #ccc
          display: block
          vertical-align: center
        .play
          .material-icons
            color: #cccccc
            vertical-align: middle
          .text
            display: inline-block
            height: 40px
            line-height: 40px
        .price
          height: 80px
          line-height: 80px
          font-size: 30px
          color: $color-theme-primary
          .vip
            font-size: 26px
            color: coral

