@import '~assets/stylus/variable'


.account
  background-color: $color-background
  position: fixed
  bottom: 0
  top: 0
  width: 100%
  .account-content
    height: 100%
    section
      background-color: white
    .collections
      margin-top: 24px
    .blank
      height: 136px
      width: 100%
