@import '~assets/stylus/variable'

.account
  background-color: $color-background
  position: fixed
  top: 0
  bottom: 0
  margin-bottom: 120px
  .content
    height: 100%
    overflow: hidden
    section
      background-color: white
    .collections
      margin-top: 24px
