@import '~assets/stylus/variable'


.account
  background-color: $color-background
  position: fixed
  bottom: 0
  top: 0px
  width: 100%
  .nav-panel-wrapper
    background-color: $color-theme-primary
    display: flex
    height: 104px
    width: 100%
    justify-content: space-evenly
    align-items: center
    color: white
  .account-content
    height: 100%
    overflow: hidden
    section
      background-color: white
    .collections
      margin-top: 24px
    .blank
      height: sum(136px+104px)
      width: 100%
