@import '~assets/stylus/variable.styl'

.unlogin-account-card
  text-align: center
  line-height: 46px
  padding: 34px 0
  p
    font-size: $font-size-large-xxxl
  p:nth-child(2)
    margin-bottom: 34px
