.daily-recommend-item
  height: 110px
  display: flex
  border-bottom: 1px solid #ccc
  align-items: center
  .album-pic
    width: 90px
    border-radius: 10px
  .info-wrapper
    margin-left: 16px
    width: 440px
    .song-name
      color: #000
      font-size: 32px
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
      margin-bottom: 10px
      .trans
        color: $color-text
    .others
      color: $color-text
      font-size: 26px
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
  .mv-icon
    position: absolute
    right: 86px
    font-size: 46px
    color: #ccc
  .more-icon
    position: absolute
    right: 20px
    font-size: 46px
    color: #ccc
