@import "~assets/stylus/variable.styl"

.collect-item
.icon-collect-item
  display: flex
  flex-wrap: nowrap
  width: calc(100% - 36px)
  height: 94px
  margin-left: 36px
  box-sizing: border-box
  font-size: $font-size-large-xxxlll
  line-height: 94px
  border-bottom: 1px solid $color-background;
  border-top: 1px solid $color-background;
  text-align left
  justify-content: space-between
  .material-icons
    height: inherit
    line-height: inherit
    color: $color-icon
  .collect-item-header
    width: 56px
  .collect-item-body
    display: flex
    justify-content: space-between
    width: 100%
    align-self: stretch
    color: $color-text
    text-indent: 5px
    .badge
      color: $color-icon
      font-size: $font-size-large-xxx
  .collect-item-tail
    padding-right: 20px
.text-collect-item
  .collect-item-header
    display: none
  .collect-item-body
    width: 100%
    align-self: stretch
