@import "~assets/stylus/variable.styl"
.collect-item
.icon-collect-item
  display: flex
  flex-wrap: nowrap
  width: 100%
  height: 80px
  margin-left: 30px
  font-size: 28px
  line-height: 80px
  border-bottom: 1px solid $color-background;
  border-top: 1px solid $color-background;
  text-align left
  .material-icons
    height: inherit
    line-height: inherit
    color: $color-icon
  .collect-item-header
    width: sum(78px, -30px)
  .collect-item-tail
    width: 78px
  .collect-item-body
    display: flex
    justify-content: space-between
    width: calc(100% - 156px)
    color: $color-text
    text-indent: 5px
    .badge
      color: $color-icon

.text-collect-item
  .collect-item-header
    display: none
  .collect-item-body
    width calc(100% - 78px)
