@import "~assets/stylus/variable.styl"

.music-collect-item
  width: 100%
  height: 110px
  display: flex
  justify-content: space-between
  align-items: center
  .music-collect-item-wrapper
    display: flex
    // width可能要改
    width: calc(100% - 94px -94px)
    .music-collect-item-header
      color: $color-icon
      display: flex
      align-items: center
      text-align: center
      span
        display: block
        width: 94px
      .material-icons
        width: 94px
        color: $color-theme-primary
    .music-collect-item-body
      width: 100%
      display: flex
      flex-direction: column
      justify-content: center
      text-indent: 20px
      p
        font-size: $font-size-large-xxxll
        padding-bottom: 10px
      span
        font-size: $font-size-large-xx
      .sub-title
        span:nth-child(1)
          color: $color-singer
        span:nth-child(2)
          color: $color-icon
  .music-collect-item-tail
    display: flex
    justify-content: center
    align-items: center
    color: $color-icon
    .material-icons
      padding-right: 10px
      text-align: center
