@import "~assets/stylus/variable.styl"

.toast
  border-radius: 4px
  top: 35px
  width: auto
  margin-top: 20px
  position: relative
  height: auto
  min-height: 48px
  line-height: 1.5em
  word-break: break-all
  background-color: $color-theme-secondary
  padding: 10px 25px
  font-size: $font-size-large-xxx
  font-weight: 300
  color: #fff
  display: flex
  align-items: center
  justify-content: space-between
  cursor: defaul
  //box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
