@import "~assets/stylus/variable.styl"

.friends
  .nav-panel
    background-color: $color-theme-primary
    display: flex
    height: 104px
    width: 100%
    justify-content: space-evenly
    align-items: center
    .nav-body
      width: 540px
    .nav-tail.blank
      width: 56px
      height: 56px
