@import '~assets/stylus/variable.styl'

.personal-tweets
  width: 100%
  background-color: $color-background
  position: fixed
  bottom: 0
  top: 0
  .personal-tweets-content
    height: 100%
    overflow: hidden
    .tweets-card
      margin-bottom: 24px
    .blank
      height: 210px

.nav-panel
  display: flex
  height: 104px
  width: 100%
  justify-content: space-evenly
  background-color : $color-theme-primary
  align-items: center
  .nav-body
    color: white
    width: 540px
    display: flex
    justify-content: center
    align-content: center
  .nav-tail.blank
    width: 56px
    height: 56px
