@import '~assets/stylus/variable.styl'

.push-tweets
  width: 100%
  background-color: $color-background
  position: fixed
  bottom: 0
  top: 104px
  .push-tweets-content
    height: 100%
    overflow: hidden
    .tweets-card
      margin-bottom: 24px
    .hottopics
      width: 100%
      padding: 40px 0px
      background-color: white
      margin: 24px 0px
      .hottopics-swiper
        width: 100%
        .hottopics-slide
          height: 200px
          overflow: hidden
          .hottopics-content-wrapper
            position: relative
            width: 100%
            height: 100%
            .hottopics-content
              display: flex
              flex-direction: column
              justify-content: space-between
              font-size: $font-size-large-xxxl
              padding: 20px 0 20px 20px
              box-sizing: border-box
              color: white
              background-color: rgba(0, 0, 0, 0.5)
              position: absolute
              left: 0
              top: 0
              width: 100%
              height: 100%
              .type
                text-align: center
                background-color: $color-theme-primary
                width: 110px
                height: 40px
                line-height: 40px
            img
              width: inherit
              height: inherit
              object-fit: fill
