@import "~assets/stylus/variable.styl"

.tweets
  width: 100%
  background-color: $color-background
  position: fixed
  bottom: 0
  top: 104px
  .tweets-content
    height: 100%
    overflow: hidden
    .tweets-card
      margin-bottom: 24px
  .tweets-create
    position: fixed
    left: 24px
    bottom: sum(110px+24px)

