.column-frame
  width: 100%
  .title
    height: 94px
    display: flex;
    align-items: center
    .left
      height: 32px
      width: 4px
      background: $color-theme-primary
      margin-right: 10px
    .text
      font-size: 32px
    .right
      margin-top: 2px
      font-size: 44px
  // 手写右箭头
  /*
  width: 16px
  height: 16px
  border-top: 2px solid #000
  border-right: 2px solid #000
  transform: rotate(45deg)
  */
