@import "~assets/stylus/variable.styl"

.video-pre-viewer
  .video-js
    .vjs-big-play-button
      left: 50%
      top: 50%
      width: 100px
      height: 100px
      margin-left: -50px
      margin-top: -50px
      line-height: 100px
      border: none
      background: none
      .vjs-icon-placeholder
        line-height: inherit
        font-size: $icon-size-md56
    .vjs-control-bar
      color: white
      font-size: $font-size-large-xxxl
      .vjs-control
        border: none
