@import "~assets/stylus/variable.styl"

.nav-panel
  display: flex
  height: 104px
  width: 100%
  justify-content: space-evenly
  background-color : $color-theme-primary
  align-items: center
  .nav-body
    color: white
    width: 540px
    display: flex
    justify-content: center
    align-content: center
  .nav-tail.blank
    width: 56px
    height: 56px

.followers
  .followers-content
    position: fixed
    top: 104px
    bottom: 0px
    width: 100%
    height: 100%
    overflow: hidden
    .blank
      height: 224px!important
