@import '~assets/stylus/variable.styl'

.float-button
.large-float-button
  width: 92px
  height: 92px
  border-radius: 100%
  background-color: $color-theme-primary
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2)
  position: absolute
  left: 24px
  .material-icons
    font-size: 44px
    line-height: 92px
    height: 92px
    width: 92px
    text-align: center
