@import "~assets/stylus/variable.styl"

.button
.medium-primary-button
  background-color: $color-theme-primary
  color: white
  font-size: $font-size-large-xx
  text-align: center
  height: 60px
  line-height: 60px
  display: block
