@import "~assets/stylus/variable.styl"

.button
  width 100%
  background-color: $color-theme-primary
  color: white
  text-align: center
  display block
.medium-secondary-button
.medium-primary-button
  font-size: $font-size-large-xxxl
  height: 70px
  line-height: 70px
.medium-secondary-button
  color: $color-text


.large-secondary-button
.large-primary-button
  height: 94px
  line-height: 94px
  font-size: $font-size-large-xxxll
.large-secondary-button
  color $color-text


.small-secondary-button
.small-primary-button
  height: 60px
  line-height: 60px
  font-size: $font-size-large-xxxl
.small-secondary-button
  color $color-text

.white
  background-color: white

.gray
  background-color: $color-background
