.recommend
  background: $color-background-d
  /*position: fixed*/
  top: 184px
  bottom: 112px
  width: 100%
  z-index: 0
  .recommend-content
    height: 100%
    overflow: hidden
    .swiper-container
      height: 258px
      width: 100%
      overflow: hidden
      background: #ccc
    .panel
      width: 100%
      height: 188px
      margin: 20px 0
      display: flex
      .panel-item
        flex: 1
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        .icon-wrapper
          width: 118px
          height: 118px
          border-radius: 59px
          border: 2px solid $color-theme-primary
          display: flex
          justify-content: center
          align-items: center
          .material-icons
            color: $color-theme-primary
            font-size: 60px
        .text
          height: 70px
          line-height: 70px
          font-size: 28px
    .justify-order-wrapper
      width: 100%
      height: 200px
      border-top: 1px solid #ccc
      display: flex
      justify-content: center
      align-items: center
      .justify-order-button
        font-size: 24px
        color: $color-theme-primary
        padding: 14px 28px
        border: 2px solid $color-theme-primary
        border-radius: 36px
    .blank
      width: 100%
      height: 112px
